---

import Layout from "@/layouts/Layout.astro"

import {CINES} from "../consts/cines";
import {Metadata} from "../consts/metadata";
import ProyeccionesCine from "../components/proyeccionesCine.astro";

const cine = CINES.find(cine => cine.url === Astro.params.cine);
---

<Layout
        description={Metadata.home.description}
        title={Metadata.home.title}
        canonical={Metadata.home.canonical}
>

    <main>
        <h1 class=`text-xl text-${cine.color} text-center font-bold p-2`>Cartelera de {cine.nombre}</h1>
        <ProyeccionesCine cine={cine} />
    </main>
</Layout>

<section>


</section>
