---

import Layout from "@/layouts/Layout.astro"

import {CINES} from "../consts/cines";
import {Metadata} from "../consts/metadata";
import ProyeccionesCine from "../components/proyeccionesCine.astro";

const cine = CINES.find(cine => cine.url === Astro.params.cine);

if (!cine) {
    return new Response(JSON.stringify("Cine Not found"), { status: 404 })
}
---

<Layout
        description={Metadata[`cartelera-${cine.url}`].description}
        title={Metadata[`cartelera-${cine.url}`].title}
        canonical={Metadata[`cartelera-${cine.url}`].canonical}
>

    <main>
        <h1 class=`text-xl text-${cine.color} text-center font-bold`>Cartelera de {cine.nombre}</h1>
        <h2 class=`text-center text-lg text-${cine.color}`>Próximas películas en {cine.nombre}. Consulta nuestra programación.</h2>
        {cine.horaFijaProyeccion ? (
            <p class=`text-center text-sm text-white mt-2 border-2 rounded-lg text-center p-2 w-5/6 m-auto bg-${cine.color} bg-opacity-80`>En {cine.nombre} todas las proyecciones se comenzarán a las {cine.horaFijaProyeccion}. La taquilla estará disponible 45 minutos antes del inicio de la proyección</p>
        ) : null}
        <ProyeccionesCine cine={cine} />
    </main>
</Layout>

<section>


</section>
