---

import {CONTACTO} from "../consts/contacto";
---

<section>
    <h3 class="text-xl text-primary text-center font-bold">Contacta con nosotros</h3>
    <p class=`text-center text-lg text-primary mt-5`>Si necesitas mas información,  estaremos encantados de contestarte. Puedes ponerte en contacto con nosotros a través de nuestro teléfono <a href=`tel:+${CONTACTO.telefono.prefijo}${CONTACTO.telefono.numero.replaceAll(' ', '')}` class="font-bold" target="_blank">{CONTACTO.telefono.numero}</a>, nuestro <a class="font-bold" href=`https://wa.me/${CONTACTO.telefono.prefijo}${CONTACTO.telefono.numero.replaceAll(' ', '')}` target="_blank">WhatsApp</a> o a traves de nuestro email en <a href=`mailto:${CONTACTO.email}` class="font-bold" target="_blank">{CONTACTO.email}</a>.</p>
</section>
