---
import {GRUPOSPROYECCIONES} from "../consts/proyecciones";
import ProyeccionCard from "./proyeccionCard.astro";
import Action from "./Action.astro";
const { cine } = Astro.props;
---

<section id=`proyecciones-${cine.url}`>
    {
        GRUPOSPROYECCIONES.length === 0 ?
                <div class=`p-2 m-4 align-middle text-${cine.color}`>
                    <p>Actualmente no hay proyecciones disponibles.</p>
                </div> :

            GRUPOSPROYECCIONES.filter(x => x.cine.url === cine.url).map(grupo => {
                <div>
                    <Action as="a" class={`w-3/4 sm:text-xs my-1`} aria-label={`Enlace a todos los tickets disponibles de ${cine.nombre}`} color={cine.color} href="https://kinetike.com:83/views/init.aspx?cine=REGIO">Encuentra tus entradas aquí</Action>
                </div>
            return (
                    <ProyeccionCard cine={cine} entradas={grupo.entradas} proyecciones={grupo.proyecciones} pelicula={grupo.pelicula}/>
            );
        })
    }
</section>
