---
import {PROYECCIONES} from "../consts/proyecciones";
import ProyeccionCard from "./proyeccionCard.astro";
import {PELICULAS} from "../consts/peliculas";
const { cine } = Astro.props;

const gruposProyecciones: number[] = [... new Set(PROYECCIONES.filter(proyeccion => proyeccion.cineId === cine.url && proyeccion.fecha >= new Date())?.map(x => x.grupo))];
---

<section id=`proyecciones-${cine.url}`>
    {
        gruposProyecciones.length === 0 ?
                <div class=`p-2 m-4 align-middle text-${cine.color}`>
                    <p>Actualmente no hay proyecciones disponibles.</p>
                </div> :

        gruposProyecciones.map(grupo => {
            const proyecciones = PROYECCIONES.filter(proyeccion => proyeccion.cineId === cine.url && proyeccion.grupo === grupo);
            const pelicula = PELICULAS.find(pelicula => pelicula.id === proyecciones[0].peliculaId);
            return (
                    <ProyeccionCard cine={cine} proyecciones={proyecciones} pelicula={pelicula}/>
            );
        })
    }
</section>
