---
import {GRUPOSPROYECCIONES} from "../consts/proyecciones";
import ProyeccionCard from "./proyeccionCard.astro";
const { cine } = Astro.props;
---

<section id=`proyecciones-${cine.url}`>
    {
        GRUPOSPROYECCIONES.length === 0 ?
                <div class=`p-2 m-4 align-middle text-${cine.color}`>
                    <p>Actualmente no hay proyecciones disponibles.</p>
                </div> :

            GRUPOSPROYECCIONES.filter(x => x.cine.url === cine.url).map(grupo => {
            return (
                    <ProyeccionCard cine={cine} entradas={grupo.entradas} proyecciones={grupo.proyecciones} pelicula={grupo.pelicula}/>
            );
        })
    }
</section>
