---
import Action from "./Action.astro";
const { cine } = Astro.props;
---
<div class=`flex flex-col sm:flex-row p-2 m-4 rounded-lg bg-white bg-opacity-70 border-2 align-middle flex-grow bg-white bg-opacity-80`>
    <div class=`flex flex-col justify-around justify-center items-center p-5`>
        <h4 class=`text-xl text-${cine.color} text-center font-bold underline mb-2`>{cine.nombre}</h4>
        <p class=`text-center text-${cine.color}`>{cine.localizacion.descripcion}</p>
        <Action
                class=`w-3/4 text-base md:text-xs`
                as=`a`
                aria-disabled=`false`
                href=`/cartelera-${cine.url}/`
                rel=`noopener noreferrer`
                aria-label=`Enlace a la cartelera de ${cine.nombre}`
        >
            Consultar cartelera
        </Action>

    </div>
    <div class=`flex flex-col md:mt-2`>
        <div class=`border-4 border-primary rounded-lg m-auto`>
            <iframe class=`align-middle w-auto rounded-lg` src=`https://www.google.com/maps/embed?pb=${cine.localizacion.ubicacionKey}` width=`400` height=`250` style=`border:0;` allowfullscreen=`` loading=`lazy` referrerpolicy=`no-referrer-when-downgrade`></iframe>
        </div>
        <p class=`text-center underline text-${cine.color} text-xs font-bold w-auto p-2`>{cine.localizacion.direccion}</p>
    </div>


</div>